# SMTP Configuration
NUXT_PUBLIC_SMTP_HOST=smtp.example.com
NUXT_PUBLIC_SMTP_PORT=587
NUXT_PUBLIC_SMTP_USER=user@example.com
NUXT_PUBLIC_SMTP_PASSWORD=your_password_here
NUXT_PUBLIC_SMTP_FROM=info@barrioprivadoparquepinares.com
NUXT_PUBLIC_SMTP_TO=info@barrioprivadoparquepinares.com

# Environment
NUXT_PUBLIC_SITE_URL=https://www.barrioprivadoparquepinares.com
